# https://github.com/github/gitignore/blob/main/Python.gitignore 
# + Azure VSCode template
# + Custom

# Byte-compiled / optimized / DLL files
**/__pycache__

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
**/.pytest_cache
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
cover/

# mypy
**/.mypy_cache/
**/.dmypy.json
**/dmypy.json

# Jupyter Notebook
**/.ipynb_checkpoints

# VSCode
.vscode

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Azurite and Azure Function artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json
.python_packages
bin
obj
appsettings.json
local.settings.json

# IPython
profile_default/
ipython_config.py

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Environment variables
*.env
env.*
environments/

# App specifics
sampledata/
jpnb/
